<section id="todo" data-transition="slide">
    <header>
        <nav class="left">
            <a href="#/" data-icon="home"></a>
        </nav>
    </header>
    
    <article id="view" class="active list">
      <ul>
          <li>{{todo.text}}</li>
      </ul>
      <a href="#/todo/delete/{{todo.id}}" class="button right">Delete</a>
    </article>
  
    <article id="delete" class="active">
      <strong>Are you sure you wish to delete the todo?</strong>
      <a href="#/" class="button right">Delete</a>
    </article>
</section>