<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.centralway.jazoon.demo"
        versionCode="10" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->
    <!-- https://build.phonegap.com/docs/config-xml -->
      
    <name>JazoonDemo</name>            
    <description>
        Jazoon Demo
    </description>
    <author href="" email="">
        Oliver Tupman
    </author>
      
    <preference name="phonegap-version" value="3.0.0" />
    <preference name="fullscreen" value="true" />
    
    <!-- access to resources on other domains -->
    <access origin="*" />
     
    <!-- Icons and Splash --> 
    <icon src="icon.png" />
      
    <!-- Android -->
    <preference name="android-minSdkVersion" value="10" />
      
    <!-- iOS -->      
      
</widget>