<html ng-app="JazoonDemoApp">
    <head>
        <title>JazoonDemo</title>

        <link rel="stylesheet" type="text/css" href="components/lungo/lungo.css"/>
        <link rel="stylesheet" type="text/css" href="components/lungo/lungo.icon.css"/>
        <link rel="stylesheet" type="text/css" href="components/lungo/theme.lungo.css">
        <script type="text/javascript" src="components/quojs/quo.debug.js"></script>
        <script type="text/javascript" src="components/lungo/lungo.js"></script>
    </head>
    
    <!-- lab-boot starts up Lungo & Angular via the bridge -->
    <!-- AppCtrl is an application-wide controller -->
    <body class="app" lab-boot ng-controller="AppCtrl"> 
        <!-- The very first 'section' _must_ have the id 'main' -->
        <section id="main" data-transition="slide"> 
            <header>
                <nav class="left">
                    <!-- lab-aside binds the link to showing the left-menu -->
                    <a data-icon="menu" lab-aside="aside1"></a>
                </nav>
                <nav class="right">
                    <a ng-click="refresh()" data-icon="refresh"></a>
                </nav>
                
            </header>
            <!-- The "first" active article _must_ have the class 'active' assigned -->
            <article id="main-article" class="active list scroll">
                <!-- todos is a JavaScript array; AngularJS uses the curly braces to do template-style replacement -->
                <p>Available: {{todos.length}}</p>
                <ul>
                    <!-- ng-repeat repeats through an array; todo will represent each element of the array -->
                    <li ng-repeat="todo in todos" class="arrow selectable"><a href="#/todo/view/{{todo.id}}">{{todo.text}}</a></li>
                    <li ng-hide="isLoading" class="theme">
                      <a href="#/add" data-icon="plus">Add a todo</a>
                    </li>
                    <li ng-show="isLoading" data-loading="black">Loading...</li>
                </ul>
                
            </article>
        </section>
        
        <aside id="aside1">
            <header data-title="Todo Demo"></header>
            <article class="active list scroll">
                <ul>
                    <li>Item</li>
                </ul>    
            </article>
        </aside>
                
        <lab-view></lab-view>        
        
        <!-- If you use build.phonegap.com DO NOT add the phonegap.js to your archive -->
        <script src="phonegap.js"></script>
        <script type="text/javascript" src="components/angular/angular.js"></script>
        <script type="text/javascript" src="components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="components/lungo-angular-bridge/dist/lungo-angular-bridge.js"></script>
        <!-- Our Angular app files -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
    </body>
</html>